 *, *::before, *::after {
  box-sizing: border-box;  
}

:root {
  --border-radius-component: 10px;
  --border-radius-profile: 50px;
  --dark: #474747;
  --grey: #8B8F97;
}

html, body {
  margin: 0;
  padding: 0;
  color: var(--dark);
}

.App {
  height: 100vh;
  background-color: #D5DAE4;
  font-family: 'Nunito', sans-serif;
}

h2, h3 {
  font-size: 1em;
}

.dashboard {
  background-color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 88%;
  min-height: 88%;
  margin: auto;
  border-radius: 40px;
}

.grid {
  /* edit the first margin value after the nav component is added in */
  padding: 3rem;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 0.9fr 1.6fr 0.7fr 0.8fr;
  grid-template-rows: 0.9fr 1.1fr 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "calendar video task icons"
    "calendar video task todo"
    "goal video music todo"
    "graph timer music todo";
}

.widgets {
  background-color: red;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 40px;
}

.calendar {
  background-color: #9699d1;
  grid-area: calendar;
  display: flex;
  flex-direction: column;
}

/* move css into its own component css */
.goal {
  grid-area: goal;
  background-color: #bcece9;
}

.graph {
  grid-area: graph;
  background-color: #f5b0b5;
}

.task {
  grid-area: task;
  background-color: #9699d1;
}

.music {
  grid-area: music;
  background-color: #9699d1;
}

.todo {
  grid-area: todo;
  background-color: #9699d1;
}

.icons {
  grid-area: icons;
  background-color: #bcece9;
}
/* 
.video {
  grid-area: video;
  background-color: #f5b0b5;
}
.video-wrapper {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
} */

.timer {
  grid-area: timer;
  background-color: #9699d1;
}
