.goal{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goal-title {
  margin-bottom: 0.25rem;
  margin-top: 0;
}

.goal h2{
  font-size: 20px;
  margin: 0;
}
.goals-wrapper{
  width: 100%;
}
.goal-text-wrapper{
  margin-bottom: 30px;
}

.goal-text {
  border-radius: 10px;
  resize: none;
  border: none;
  width: 100%;
  height: 30px;
  font-size: 1em;
  text-align: center;
}

.goal-text:focus {
  outline: none;
  border: var(--grey) 1px solid;
}

.goal-text-wrapper input{
  width: 100%;
  border-radius: 1em;
  background: #7eb4ee;
  border: none;
  
}
.goal-text-wrapper input.styled-slider::-webkit-slider-thumb {
  width: 0;
  height: 2em;
  visibility: hidden;
}



[contenteditable] {
  outline: 0px solid transparent;
}

